<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="outer">

      <div class="hed">Has the Bay Area lost its allure?</div>
      <div class="chatter">After years of being a sought-after place to live, the Bay Area is seeing the number of people leaving catch up with the number moving in. See how net migration — inflows minus outflows — has fallen over the past few years.</div>

      <div class="info"></div>

      <div class="legend-container">
        <div class="swath-text left">Inflow</div>
        <div class="swath blue-swath0"></div>
        <div class="swath blue-swath1"></div>
        <div class="swath blue-swath2"></div>
        <div class="swath blue-swath3"></div>
        <div class="swath blue-swath4"></div>
        <div class="swath white-swath"></div>
        <div class="swath red-swath4"></div>
        <div class="swath red-swath3"></div>
        <div class="swath red-swath2"></div>
        <div class="swath red-swath1"></div>
        <div class="swath red-swath0"></div>
        <div class="swath-text right">Outflow</div>
      </div>
      <div class="legend-text">Migration level is a percent of total population.</div>

      <div class="controls-container">
        <div class="controls">
          <div class="start selected"><i class="fa fa-play"></i></div>
          <div class="pause"><i class="fa fa-pause"></i></div>
        </div>
        <div class="dropdown">
          Choose a year:
          <select name="select">
            <option selected="selected" disabled="disabled">--</option>
            <% for (var i = 2016; i > 2010; i--) { %>
              <option value= <%= i %> > <%= i %> </option>
            <% } %>
          </select>
        </div>
      </div>

      <div id="county-map" class="padding"></div>

      <div class="credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        <div class="entry">Kurtis Alexander  &bull; <a href="mailto:kalexander@sfchronicle.com">kalexander@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/kurtisalexander" target="_blank">@kurtisalexander</a></div>
        <div class="entry">Clint Wirtanen  &bull; <a href="mailto:cwirtanen@sfchronicle.com">cwirtanen@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/ClintWirtanen" target="_blank">@ClintWirtanen</a></div>
      </div>
      <div class="source">Source: <a href="https://www.census.gov/data.html" target="_blank">U.S. Census Bureau</a></div>

    </div>

    <script>
      var census2011 = <%= JSON.stringify(csv.census2011) %>
      var census2012 = <%= JSON.stringify(csv.census2012) %>
      var census2013 = <%= JSON.stringify(csv.census2013) %>
      var census2014 = <%= JSON.stringify(csv.census2014) %>
      var census2015 = <%= JSON.stringify(csv.census2015) %>
      var census2016 = <%= JSON.stringify(csv.census2016) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
